.mainPage{
  background-color: lightseagreen;
  border-radius: 10px;
  /* background: #73AD21; */
}

#Vector_16, #Vector_15, #Vector_17{
  animation: cardColorWave ease-in-out infinite alternate;
  animation-duration: 2s;
  animation-delay: 0s;
  transform-origin: left;
  transform-box: fill-box;
}
#Vector_17{
  animation: tickColorChange ease-in-out infinite alternate;
  animation-duration: 2s;
  animation-delay: 0s;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes tickColorChange{
  from {
    fill:purple;
    transform: scaleX(0.9);
  }
  to {
    transform: scaleX(1.1);
    fill: green;
  }
}

@keyframes cardColorWave{
  from {
    transform: scaleX(0.5);
    fill:purple;
  }
  to {
    transform: scaleX(1.1);
    fill: green;
  }
}
#looseHair{
  animation: hairWave ease-in-out infinite alternate;
  animation-duration: 1s;
  animation-delay: 0s;
  transform-origin: 40% 50%;
}
@keyframes hairWave{
  from {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(25deg) rotateY(10deg) rotateZ(1.5deg);
  }
}
.notes{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.anime {
  animation-name: cssAnimation;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  /* transform-origin: initial; */
  
  /* animation-fill-mode: forwards; */
}
@keyframes cssAnimation {
  from {
    transform: translateY(-100px) rotate(0deg)
  }
  to {
    transform: translateY(1100px) rotate(100deg);
  }
}

.autocomplete{
  width: 300px;
}
